<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>TeamCategory_Key</key>
		<integer>0</integer>
		<key>TeamCategory_Name</key>
		<string>Schools</string>
	</dict>
	<dict>
		<key>TeamCategory_Key</key>
		<integer>1</integer>
		<key>TeamCategory_Name</key>
		<string>Business</string>
	</dict>
	<dict>
		<key>TeamCategory_Key</key>
		<integer>2</integer>
		<key>TeamCategory_Name</key>
		<string>Organization</string>
	</dict>
</array>
</plist>
